@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; 

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)


*/

:root {
    --ff-sans: 'Poppins, sans-serif';
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;


    --fs-400: 1rem;
    --fs-900: 2.5rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;


    --clr-neutral-900: hsl(234,12%, 34%);
    --clr-neutral-400: hsl(229,6%, 66%);
    --clr-neutral-900: hsl(0,0%, 98%);


    --clr-teal: hsl(180,58%,56%);
       --clr-red: hsl(0,75%,60%);
          --clr-yellow: hsl(34,89%,65%);
             --clr-blue: hsl(212,75%,62%);




}

*,
*::before,
*::after {
    box-sizing: border-box ;

}

body{
    margin: 0;
    padding-block-end: 5rem;
}

html{
    font-family: 'Poppins', sans-serif;
   font-weight: var(--fw-normal);
   line-height: 1.7; 
   color: black;
}

h1,
h2,
h3{
    color: black;
    line-height: 1.2;
}

.wrapper{
    max-width: 1100px;
    margin-inline: auto;
}


.wrapper--narrow{
    max-width: 550px;
}


header{
    text-align: center;
    margin-block: 6rem;
    /* border:2px solid red; */

}

/* main{
    border: 5px solid lime;
} */

.layout-grid{
    --gap: 4rem;
    display: flex;
    gap: var(--gap);
}



.layout-grid > * {
    flex: 1;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* border: 3px solid plum; */
}

.card{
    ---br: 0.325rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border-top: 8px solid #d1e1e1;
    /* background: #efefef ; */
    box-shadow: 0  0.5rem 1rem -.5rem rgba(0 0 0 / 0.2);
}

.card_title{
    font-size: 1.7rem;
    margin: 0;
}
h1 {
    font-weight: var(--fw-light);
    font-size: var(--fs-900);
}
h1 span{
    font-weight: var(--fw-bold);
}

header > p {
    font-size: 1.2rem;
}

/* .card:nth-child(1) {
    border-color: #d1e1e1;
}

.card:nth-child(2) {
    border-color: red;
}

.card:nth-child(3) {
    border-color: magenta;
} */

.border-teal {
    border-color: teal;
}
.border-red {
    border-color: red;
}
.border-yellow {
    border-color: var(--clr-yellow);
}
.border-blue {
    border-color: var(--clr-blue);
}